.side-bar{
    width: 20%;
    background-color: #16283C;
    height: 100vh;
    position: fixed;
}
.dashboard{
    background-color: gray;
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 20%;
}
.container{
    max-width: 100%; 
    padding: 0;  
}
.page{
    position: relative;
}
nav{
    background-color: #204162;
}
.navbar-brand img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container-fluid{
    height: 12rem;
}
.navbar-brand h2{
    color: aliceblue;
}
span{
    color: #1EAF88;
}
.side-bar h5{
    color: aliceblue;
    margin-left: 1rem;
    margin-top: 1rem;
}
.general{
    border-bottom: 2px solid #9F4938;
}
.fa-gauge-high{
    color: #F99B00;
    margin-top: 1rem;
}
.fa-clock{
    color: #DC5130;
}
.fa-gem{
    color: #6E3CC3;
}
.fa-table-cells{
    color: #A72AB2;
}
.fa-file-fragment{
    color: #0396D9;
}
.fa-briefcase{
    color: #3895E3;
}
.fa-paper-plane{
    color: #EB1E63;
}
.fa-copy{
    color: #D9902A;
}
.fa-map{
    color: #9F25B4;
}
.fa-chart-column{
    color: #0F9386;
}
.fa-gear{
    color: #FF9F01;
}
li{
    list-style-type: none;
    display: flex;
    line-height: 3rem;
}

li p{
    color:  white;
}
ul{
    padding: 20px;
}
